<html lang="en">
  <%- include('layouts/header.ejs') %>
  
<link rel="stylesheet" type="text/css" href="landing.css">

<body>

    <div class="wrapper">
    <section class="landing" id="landing">

        <div class="landing-img">
            <img src="public/asset/PagePetal.png" alt="logo">
        </div>

        
        <!--
        <div class="button">
            <a href="home.html" class="btn"><img src="asset/PagePetal.png" alt="logo"></a> 
            
        </div>
     -->
     
    </section>


    </div>


    <!-- Ini login page dan sign in page-->
    <button class="open-button" onclick="openForm()"><b><span>Login</span></b></button>
    <div class="form-popup" id="myForm">
    <form onsubmit="return validateLogin()" class="form-container">
    <h1><center><span2>Login</span2></center></h1>

    <label for="email"><b><span2>Email</span2></b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b><span2>Password</span2></b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <button type="submit" class="btn"><b>Login</b></button>
    <button type="button" class="btn cancel" onclick="closeForm()"><b>Close</b></button>
  </form>
</div>



<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }

  function validateLogin() {
    var email = document.getElementById("email").value;
    var password = document.getElementById("psw").value;

    // Check if email and password match the desired values
    if (email === "pagepetal@gmail.com" && password === "pagepetal") {
      alert("Login successful!");
      
      // Redirect to home.html
      window.location.href = "/home";
      return false; // Prevent form submission (not necessary as we're redirecting)

    } else {
      alert("Invalid email or password. Please try again.");
      return false; // Prevent form submission
    }
  }

</script>

</body>

</html>