<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navigation.ejs') %>
        <!-- Page Header-->
        <%- body %>
        <!-- Footer-->
        <%- include('layouts/footer.ejs') %>
       
    </body>
</html>
