<!DOCTYPE html>
<html lang="en" ng-app="bookApp">
    <%- include('layouts/header.ejs') %>
<head>
    <link rel="stylesheet" type="text/css" href="search.css">

</head>

<body ng-controller="BookController" ng-style="{'height': bodyHeight}">
    <header class="sticky">
        <%- include('layouts/nav.ejs') %>
    </header>

    <section class="search" id="search">
        <div class="container">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search..." ng-model="searchQuery">
                <select id="category-select">
                    <option value="all">All</option>
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                    <option value="author">Author</option>
                    <option value="publisher">Publisher</option>
                </select>
                <br>
                <center><button ng-click="searchBooks()">Search</button></center>
            </div>
            </form>
            
            <ul id="bookList">
                <li ng-repeat="book in books">
                    <div class="container">
                    <img ng-src="{{book.thumbnail}}" alt="{{book.title}} Cover">
                    <h3>{{book.title}}</h3>
                    <p>{{book.authors.join(', ')}}</p>
                    <p>{{book.description}}</p>
                </li>
            </ul>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="search.js"></script>
    <script src="script-angular.js"></script>
    
</body>

</html>
